/* style5.css */

.contact-section {
    text-align: center;
    margin-top: 50px;
}

.contact-section h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white !important;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #054182;
    color: white;
    border: none;
    border-radius: 7%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #005bcc;
}

/* header.css */

.logo-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* footer.css */

.social-media-section {
    text-align: center;
    margin-top: 50px;
}

.social-media-section h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.social-media-icons {
    list-style: none;
    padding: 0;
}

.social-media-icons li {
    display: inline;
    margin: 0 10px;
}

.social-media-icons li a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

.social-media-icons li a:hover {
    color: #005bcc;
}
